.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: end;
  column-gap: 20px;
  row-gap: 52px;
  padding: 15vw 5vw;
  background-color: var(--flying);
}
