.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: end;
  column-gap: 20px;
  row-gap: 52px;
  padding: 15vw 5vw;

<<<<<<< HEAD
=======
>>>>>>> 277fb584051cbfc4f8e6eda7828324d0258d57fe
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
